<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Марка</th>
        <th>Модель</th>
        <th>Цвет</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.id}">!</td>
        <td th:text="${car.brand}">!</td>
        <td th:text="${car.model}">!</td>
        <td th:text="${car.color}">!</td>
    </tr>
    </tbody>
</table>
</body>
</html>