<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<br/>
<br/>
<div>
    <a th:href="@{/users/new}" class="button">Add new user</a>

</div>

<br/>

<h3>List of users:</h3>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя Фамилия</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="user : ${users}">
        <td th:text="${user.id}">!</td>
        <td>
            <a th:href="@{/users/user(id=${user.id})}">
                <span th:text="${user.name} + ' ' + ${user.surname}"></span>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
